
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_AllevaLayout.cshtml";
}

<div class="">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="head-title">DASHBOARD</h2>
        </div>
    </div>

    <div class="row mrgnbtm">

        <!--Appointment Section Starts-->
        <div class="appointmntr-whle col-lg-5 col-md-5">
            <div class="appoinment-section">
                <div class="headingbar">
                    <i class="fa fa-calendar-plus-o"></i> <b>APPOINTMENT</b>
                    <span>
                        <i class="fa fa-filter"></i> <i class="fa fa-refresh"></i>
                    </span>
                </div>

                <div class="appointmnts-top-whle">
                    <h3><b>24<sup>th</sup></b> <font> February 2016</font></h3>

                    <ul class="scroll">
                        <li>
                            <div class="time-lt">
                                <h4>Lorem Lipsum</h4> <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>

                            <div class="time-rt">
                                <p> <i class="fa fa-clock-o"></i> 2.00 am </p>
                            </div>

                        </li>

                        <li>
                            <div class="time-lt">
                                <h4>Lorem Lipsum</h4> <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>

                            <div class="time-rt">
                                <p> <i class="fa fa-clock-o"></i> 2.00 am </p>
                            </div>

                        </li>

                        <li>
                            <div class="time-lt">
                                <h4>Lorem Lipsum</h4> <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>

                            <div class="time-rt">
                                <p> <i class="fa fa-clock-o"></i> 2.00 am </p>
                            </div>

                        </li>

                        <li>
                            <div class="time-lt">
                                <h4>Lorem Lipsum</h4> <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>

                            <div class="time-rt">
                                <p> <i class="fa fa-clock-o"></i> 2.00 am </p>
                            </div>

                        </li>

                        <li>
                            <div class="time-lt">
                                <h4>Lorem Lipsum</h4> <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>

                            <div class="time-rt">
                                <p> <i class="fa fa-clock-o"></i> 2.00 am </p>
                            </div>

                        </li>
                    </ul>

                    <div class="apoinmntsbtns">
                        <a href="#"><i class="fa fa-plus"></i> Appointment</a>
                        <a href="#"><i class="fa fa-calendar"></i>Calendar</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--Appointment Section Ends-->

        <div class="mssgalert-whole col-lg-7 col-md-7 col-sm-12">
            <div class="appoinment-section message-section todaystatus">
                <div class="headingbar">
                    <i class="fa fa-calendar-plus-o"></i> <b>Today Status</b>
                </div>

                <div class="contentblock">
                    <h3>Documents</h3>
                    <img src="~/Images/statusreport.png">
                    <h3>Patient Status</h3>

                    <div class="dischrgesbtns">
                        <div class="discharge-sctn">
                            <p>Discharged<br> Client</p>
                            <span>26</span>
                        </div>

                        <div class="discharge-sctn activepat-sctn">
                            <p>Active<br> Client</p>
                            <span>26</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row mrgnbtm">
        <div class="appointmntr-whle commondiagnosis-section col-lg-7 col-md-7 col-sm-12">
            <div class="appoinment-section message-section labresults attntn reportssctn">
                <div class="headingbar">
                    <i class="fa fa-area-chart"></i> <b>Reports</b>
                </div>

                <div class="contentblock">
                    <img src="~/Images/chart.png">
                </div>

            </div>
        </div>


        <div class="dischrge-lbrec-whole col-lg-5 col-md-5">
            <div class="appoinment-section message-section reportssctn adnotes-sctn labresults">
                <div class="headingbar">
                    <i class="fa fa-sticky-note"></i> <b>Add Notes</b>
                </div>

                <div class="contentblock">
                    <ul class="scroll">
                        <li>
                            <p>
                                1.Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry.
                            </p>
                        </li>
                    </ul>
                    <div class="note-btm">
                        <div class="notesall">
                            <input type="text" placeholder="Write note..">
                            <a href="#" class="submit">Add Note</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row mrgnbtm">
        <div class="appointmntr-whle col-lg-5 col-md-5">
            <div class="appoinment-section message-sctn-mid">
                <div class="headingbar">
                    <i class="fa fa-comments"></i> <b>MESSAGE/ALERTS</b>
                </div>

                <div class="appointmnts-top-whle scroll">

                    <ul>
                        <li>
                            <div class="messagestop-lt">
                                <h6>Joe </h6>
                                <p>Adding new layout to desing...</p>
                            </div>

                            <div class="messagestop-rt">
                                <img src="~/Images/user.jpg">
                                <div class="fullmailrply">
                                    <a href="#"><i aria-hidden="true" class="fa fa-mail-reply"></i></a>
                                    <span>2 hrs ago</span>
                                </div>


                            </div>
                        </li>

                        <li>
                            <div class="messagestop-lt">
                                <h6>Joe </h6>
                                <p>Adding new layout to desing...</p>
                            </div>

                            <div class="messagestop-rt">
                                <img src="~/Images/user.jpg">
                                <div class="fullmailrply">
                                    <a href="#"><i aria-hidden="true" class="fa fa-mail-reply"></i></a>
                                    <span>2 hrs ago</span>
                                </div>


                            </div>
                        </li>

                        <li>
                            <div class="messagestop-lt">
                                <h6>Joe </h6>
                                <p>Adding new layout to desing...</p>
                            </div>

                            <div class="messagestop-rt">
                                <img src="~/Images/user.jpg">
                                <div class="fullmailrply">
                                    <a href="#"><i aria-hidden="true" class="fa fa-mail-reply"></i></a>
                                    <span>2 hrs ago</span>
                                </div>


                            </div>
                        </li>

                        <li>
                            <div class="messagestop-lt">
                                <h6>Joe </h6>
                                <p>Adding new layout to desing...</p>
                            </div>

                            <div class="messagestop-rt">
                                <img src="~/Images/user.jpg">
                                <div class="fullmailrply">
                                    <a href="#"><i aria-hidden="true" class="fa fa-mail-reply"></i></a>
                                    <span>2 hrs ago</span>
                                </div>


                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <div class="mssgalert-whole col-lg-7 col-md-7">
            <div class="appoinment-section message-section labresults">
                <div class="headingbar">
                    <i class="fa fa-file-text-o"></i> <b>Lab Received Results</b>
                </div>

                <div class="contentblock">
                    <ul class="scroll">
                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>

                        <li>
                            <div class="msg-lt">
                                <img src="~/Images/user.jpg">
                            </div>

                            <div class="msg-mid">
                                <h5>Client Name</h5>
                                <p>Laboratory</p>
                            </div>

                            <div class="msg-rt">
                                <i> 2:00 pm</i> <i>2/24/2016</i>
                                <span><b>Status:</b> Ipsum lorem</span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

