<div class="leadstatus clientsttats bedstts" ng-repeat="bedStatus in Dashboard.CRMDetails._BedStatus">
 
    <h3>Bed Staus</h3>
    <div class="leadstatus-lt">
        <i class="fa fa-hotel"></i>
    </div>

    <div class="leadstatus-rt">
        <p><span>Total</span>  <b>{{bedStatus.TotalBed}}</b></p>
        <p><span>Available</span>  <b>{{bedStatus.AvailableBed}}</b></p>
    </div>
</div>