<div class="leadstatus clientsttats" ng-repeat="clientStatus in Dashboard.CRMDetails._ClientStatus">
    <h3>Client Status</h3>
    <div class="leadstatus-lt">
        <i class="fa fa-user"></i>
    </div>

    <div class="leadstatus-rt">
        <p><span>Green</span>  <b>{{clientStatus.StatusGreen}}</b></p>
        <p><span>Yellow</span>  <b>{{clientStatus.StatusYellow}}</b></p>
        <p><span>Red</span> <b>{{clientStatus.StatusRed}}</b></p>
    </div>
    </div>
