@{
   
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title</h2>


<section  ng-controller="accountController" class="login-section login-section2 login-section-new">
    <section class="login-box">
        <div class="loginbox_logo">
            <img src="../../Images/logo-login.png">
        </div>
        <form name="forgetPassword" ng-submit="forgetPassword.$valid && resetForgetPassword(ForgotPasswordViewModel)" novalidate>
            <section class="loginbox_container">
                <div class="loginbox_container_inner">
                    <div class="row">


                        <div class="col-md-12">
                            <h3 class="allevalogo-text">alleva</h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <input type="text" placeholder="User Name" name="UserName" ng-model="ForgotPasswordViewModel.UserName" required>
                            <span style="color:red" ng-show="(forgetPassword.$submitted || forgetPassword.UserName.$dirty && forgetPassword.UserName.$invalid)||(forgetPassword.UserName.$touched )">
                                <span ng-show="forgetPassword.UserName.$error.required">User name is required.</span>
                                @*<span ng-show="forgetPassword.UserName.$error.email">Invalid email address.</span>*@
                            </span>
                        </div>
                    </div>

                 
                    <div class="row">

                        <div class="col-md-6">
                            
                            <input type="submit" value="Send Link" id="login"  class="orange-btn login_btn">
                        </div>
                        <div class="col-md-6">
                            <input type="button" ng-click="resetPasswordRedirect()" class="orange-btn login_btn" value="Back To Login" />
                        </div>
                    </div>

                   

                </div>
                <div class="clear"></div>
            </section>
            </form>
            <div class="clear"></div>
</section>
</section>
