@model Allevasoft.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<section ng-controller="accountController" class="login-section login-section2 login-section-new">
    <section class="login-box">
        <div class="loginbox_logo">
            <img src="../../Images/logo-login.png">
        </div>
        
        <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPassword(ResetPasswordViewModel)" novalidate>
            <section class="loginbox_container">
                <div class="loginbox_container_inner">
                    <input type="hidden" ng-model="ResetPasswordViewModel.Code" ng-init="ResetPasswordViewModel.Code = '@ViewBag.Code'">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="allevalogo-text">alleva</h3>
                        </div>
                        <div class="col-md-12">
                     
                            <input type="text" placeholder="User Name" name="UserName" ng-model="ResetPasswordViewModel.UserName" required>
                            <span style="color:red" ng-show="(resetPasswordForm.$submitted || resetPasswordForm.UserName.$dirty && resetPasswordForm.UserName.$invalid)||(resetPasswordForm.UserName.$touched )">
                                <span ng-show="resetPasswordForm.UserName.$error.required">User name is required.</span>
                                @*<span ng-show="resetPasswordForm.email.$error.email">Invalid email address.</span>*@
                            </span>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <input type="password" placeholder="Enter Password" name="password" ng-model="ResetPasswordViewModel.Password" required>
                            <span style="color:red" ng-show="(resetPasswordForm.$submitted ||resetPasswordForm.password.$dirty && resetPasswordForm.password.$invalid)||(resetPasswordForm.password.$touched )">
                                <span ng-show="resetPasswordForm.password.$error.required">Password is required.</span>
                                
                            </span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <input type="password" placeholder="Confirm Password" name="confirmPassword" ng-model="ResetPasswordViewModel.ConfirmPassword" required>
                            <span style="color:red" ng-show="(resetPasswordForm.$submitted ||resetPasswordForm.confirmPassword.$dirty && resetPasswordForm.confirmPassword.$invalid)||(resetPasswordForm.confirmPassword.$touched )">
                                <span ng-show="resetPasswordForm.confirmPassword.$error.required">Confirm Password is required.</span>
                               
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Reset Password" id="login"  class="orange-btn login_btn">
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </section>
        </form>
            <div class="clear"></div>
</section>
</section>

